mqtt:
  enabled: false

cameras:
  spro_cam_01:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://viewer:Viewer1234@192.168.86.30
          roles:
            - detect
    onvif:
      host: 192.168.86.30
      port: 8000
      user: viewer
      password: Viewer1234
    detect:
      enabled: true
      width: 2560
      height: 1440

  spro_cam_02:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://viewer:Viewer1234@192.168.86.31
          roles:
            - detect
    onvif:
      host: 192.168.86.31
      port: 8000
      user: viewer
      password: Viewer1234
    detect:
      enabled: true
      width: 2560
      height: 1440

  spro_cam_03:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://viewer:Viewer1234@192.168.86.32
          roles:
            - detect
    onvif:
      host: 192.168.86.32
      port: 8000
      user: viewer
      password: Viewer1234
    detect:
      enabled: true
      width: 2560
      height: 1440

  spro_cam_04:
    enabled: true
    ffmpeg:
      inputs:
        - path: rtsp://viewer:Viewer1234@192.168.86.33
          roles:
            - detect
    onvif:
      host: 192.168.86.33
      port: 8000
      user: viewer
      password: Viewer1234
    detect:
      enabled: true
      width: 2560
      height: 1440

detect:
  enabled: true
version: 0.16-0
semantic_search:
  enabled: true
  model_size: small
face_recognition:
  enabled: true
  model_size: small
lpr:
  enabled: true
classification:
  bird:
    enabled: true

objects:
  # Optional: list of objects to track from labelmap.txt (default: shown below)
  track:
    - car
    - person

review:
  # Optional: alerts configuration
  alerts:
    # Optional: enables alerts for the camera (default: shown below)
    enabled: True
    # Optional: labels that qualify as an alert (default: shown below)
    labels:
      - car
      - person

motion:
  enabled: true

# Optional: Record configuration
# NOTE: Can be overridden at the camera level
record:
  # Optional: Enable recording (default: shown below)
  # WARNING: If recording is disabled in the config, turning it on via
  #          the UI or MQTT later will have no effect.
  enabled: true
  # Optional: Number of minutes to wait between cleanup runs (default: shown below)
  # This can be used to reduce the frequency of deleting recording segments from disk if you want to minimize i/o
  expire_interval: 60
  # Optional: Two-way sync recordings database with disk on startup and once a day (default: shown below).
  sync_recordings: False
  # Optional: Retention settings for recording
  retain:
    # Optional: Number of days to retain recordings regardless of tracked objects (default: shown below)
    # NOTE: This should be set to 0 and retention should be defined in alerts and detections section below
    #       if you only want to retain recordings of alerts and detections.
    days: 0
    # Optional: Mode for retention. Available options are: all, motion, and active_objects
    #   all - save all recording segments regardless of activity
    #   motion - save all recordings segments with any detected motion
    #   active_objects - save all recording segments with active/moving objects
    # NOTE: this mode only applies when the days setting above is greater than 0
    mode: all