services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: cctv
      WATCHTOWER_POLL_INTERVAL: 3600

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080/tcp"
    environment:
      DOZZLE_HOSTNAME: dev-cache
      # Uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      # - DOZZLE_ENABLE_ACTIONS=true
      #
      # Uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      # - DOZZLE_ENABLE_SHELL=true
      #
      # Uncomment to enable authentication. See https://dozzle.dev/guide/authentication
      # - DOZZLE_AUTH_PROVIDER=simple
    restart: always
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s


  frigate:
    container_name: frigate
    restart: always
    stop_grace_period: 30s
    image: ghcr.io/blakeblackshear/frigate:stable
    shm_size: "2gb"
    privileged: true
    devices:
      # Passes the USB Coral, needs to be modified for other versions
      - "/dev/bus/usb:/dev/bus/usb"
      # GPU
      - "/dev/dri:/dev/dri"
      # Amd GPU
      - "/dev/kfd:/dev/kfd"
      - "/dev/dxg:/dev/dxg"
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
    ipc: host
    group_add:
      - video
    environment:
      - HSA_OVERRIDE_GFX_VERSION="12.0.0"
    volumes:
      - frigate_config:/config
      - frigate_storage:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971" # Public Website
      - "5000:5000" # Unsecure API (for Home assistant)
      - "8554:8554" # RTSP feeds

volumes:
  frigate_config:
    name: frigate_config
    external: true
  frigate_storage:
    name: frigate_storage
    external: true    
